* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #80ed99;
    --secondary-color: #38a3a5;
    --text-color: white;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

h2 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin: 1rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: #fff;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #333;
}

.navigation a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
}

.open {
    display: flex;
}

/* START HOME CSS STYLE */

  
.container {
    margin: auto;
    max-width: 1300px;
    padding: 80px 20px;
}
  
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
}
  
.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
  
.text-section {
    margin-bottom: 20px;
}
  
.intro-text {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
    font-weight: 300;
}
  
.intro-heading {
    font-size: 3rem;
    margin: 10px 0;
}
  
.highlight {
    color: var(--primary-color);
}
  
.intro-subtext {
    font-size: 1.25rem;
    padding-bottom: 15px;
    max-width: 80%;
    margin: auto;
}
  
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #22577a;
    color: white;
    transition: background-color 0.3s ease;
}
  
.btn:hover {
    background-color: #38a3a5;
}
  
.image-section {
    margin-top: 20px;
}
  
.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  /* END OF HOME CSS STYLE */


  /* START ABOUT ME SECTION CSS STYLE */

  .container-section {
    background-color: var(--primary-color);
    margin: auto;
    max-width: 1300px;
    padding: 80px 20px;
    text-align: center;
}

.row {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.col-lg-6, .col-sm-12, .col-lg-5 {
    flex: 1;
    margin: 10px;
}

.img-thumbnail {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-text {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
    text-align: left;
}

.about-text h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #58abe5;
    padding-bottom: 50px;
}

.about-text p {
    padding-bottom: 20px;
}

  /* END ABOUT ME SECTION CSS STYLE */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    text-align: center;
    background-color: #f9f9f9; 
}

.temple-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.temple-card .label  {
    font-weight: bold;
    color: purple;
}

.temple-card p {
    margin: 5px 0;
    font-size: 1em;
    color: darkslategray;
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    margin-top: 0.5rem;
}

/* START FOOTER CSS STYLE*/

footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-info {
    max-width: 400px;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-info h3 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #58abe5;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
    font-size: 1.3rem;
    text-align: left;
}

footer p {
    margin: 10px 0;
    font-size: 1rem;
    color: white;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 60px;
    }

    .contact-info {
        text-align: left;
    }
}

/* ENDS FOOTER CSS STYLE */