@media (min-width: 600px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
    }

    .navigation a {
        display: block;
        flex: 1;
        padding: 1rem;
    }

}

    /* START HOME CSS STYLE */

    @media (min-width: 768px) {
        .intro-content {
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
        }
        
        .text-section {
            margin-right: 20px;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .intro-heading {
            text-align: left;
            margin-right: 5rem;
        }
        
        .image-section {
            margin-top: 0;
        }
      
        .profile-image {
          width: 300px;
          height: 300px;
        }
      }
      
      @media (min-width: 1024px) {
        .intro-heading {
          font-size: 4rem;
        }
      
        .intro-subtext {
          width: 50%;
        }
      }

    /* END HOME CSS STYLE */

    /* START ABOUT ME CSS STYLE */

    @media (min-width: 1000px) {
        .container-section {
            text-align: left;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    

    /* END ABOUT ME CSS STYLE */
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    figure {
        margin: 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    figcaption {
        text-align: center;
        margin-top: 0.5rem;
    }



@media (min-width: 37.5em) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 48em) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 64em) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container img {
        border: none; /* Remove border when there are multiple columns */
    }
}

/* START LARGE CONTACT ME FORM CSS */

@media (min-width: 400px) {

    textarea {
        width: 400px;
        height: 150px;
        padding: 10px;
        vertical-align: top;
        resize: vertical;
        font-size: 14px;
        text-align: left;
    }

    .wf1 input[type="text"],
    .wf1 input[type="tel"],
    .wf1 input[type="email"],
    .wf1 input[type="date"],
    .wf1 select,
    .wf1 input[type="number"]
    {
        background-color: white;
        display: block;
        border: solid 1px #999;
        border-radius: 6px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 400px;
        appearance: none;

    }

    .wf1 input[type="submit"]{
        border: none;
        background-color: #22577a;
        color: #fff;
        border-radius: 6px;
        padding: .8rem;
        font-size: 18px;
        width: 400px;
        margin: 2rem 0px 2rem 0px;
        box-shadow: 1px 1px 4px #999;
    }

}

/* ENDS LARGE CONTACT ME FORM CSS */
